<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Potret needs screen recording access to capture screenshots.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Potret uses Apple Events to copy images to the clipboard.</string>
</dict>
</plist>
